* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1600px;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: auto;
    margin-bottom: 120px;
}

.section-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    text-align: center;
}

.section-title-2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.section-sub-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.section-p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.section-p2 {
    color: rgba(7, 2, 17, 0.6);
    margin-top: 22px;
    margin-bottom: 50px;
    width: 67%;
    max-width: 900px;
}

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.mrg-bottom {
    margin-bottom: 120px;
}

header {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px;
}

.banner-txt h1 {
    color: rgb(255, 0, 0);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.banner-txt h4 {
    color: white;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-txt {
    text-align: center;
    padding: 180px 340px;
}

.holiday-sec {
    text-align: center;
    margin: 120px auto;
}

.holiday-sec h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
}

.holiday-sec h2 {
    margin-top: 16px;
    margin-bottom: 50px;
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* welcome meet sec styles */
.welcome-meet-sec {
    background-image: url("../resources/Group 70.png"), url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: right center;
    height: 600px;
}

.welcome-meet-sec h2 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
}

#welcome-txt {
    padding-top: 126px;
    padding-left: 126px;
    padding-bottom: 24px;
    width: 53%;
}

.welcome-meet-sec button {
    margin-top: 50px;
}

/* portfolio styles */
.portfolio {
    width: 900px;
    margin-top: 120px;
    margin-bottom: 50px;
}

.portfolio h2,
h4,
p {
    text-align: left;
}

.gift-items {
    display: flex;
    gap: 24px
}

/* subscribe section styles */
.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 0;
}

input {
    width: 33%;
    max-width: 440px;
    height: 70px;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    border: none;
    border-radius: 50px;
    background: rgb(255, 255, 255);
}

button {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* .subscribe-content{
    width: 68%;
    max-width: 900px;
    text-align: center;
} */

/* footer styles */
.footer {
    background: rgb(7, 2, 17);
    width: 100%;
    max-width: 1600px;
}

.footer p {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.footer-sec1 {
    display: flex;
    justify-content: space-between;
}

.foo-address {
    margin-top: 120px;
}

.social-media {
    text-align: center;
}

hr {
    margin: 50px 0px;
}

.foo-copyright {
    display: flex;
    justify-content: space-between;
}